.elementor-1155 .elementor-element.elementor-element-9da28f9 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-ec1c446 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-8559801 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-ac8060a {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-63a9bc1 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-13ae6e4 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-3158480 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-6eba347 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-e42a2c9 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-1952d7c {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-87d3775 {
  --display: flex;
}
.elementor-1155 .elementor-element.elementor-element-f284db4 {
  --display: flex;
}
